<fieldset class="borderless">
  <form (submit)="onSubmit()" #form="ngForm">
    <div>
      <label class="label-left one-third" for="firstName">*First Name</label>
      <input
        class="two-thirds"
        type="text"
        name="firstName"
        required
        [(ngModel)]="user.firstName"
        #firstName="ngModel"
      >
    </div>
    <div class="warning" *ngIf="firstName.touched && firstName.invalid">
      <div *ngIf="firstName.errors.required">
        First Name is required to register
      </div>
    </div>
    <div>
      <label class="label-left one-third" for="lastName">*Last Name</label>
      <input
        class="two-thirds"
        type="text"
        name="lastName"
        required
        [(ngModel)]="user.lastName"
        #lastName="ngModel"
      >
    </div>
    <div class="warning" *ngIf="lastName.touched && lastName.invalid">
      <div *ngIf="lastName.errors.required">
        Last Name is required to register
      </div>
    </div>
    <div>
      <label class="label-left one-third" for="email">*Email</label>
      <input
        class="two-thirds"
        type="text"
        name="email"
        required
        [(ngModel)]="user.email"
        #email="ngModel"
      >
    </div>
    <div class="warning" *ngIf="email.touched && email.invalid">
      <div *ngIf="email.errors.required">
        Email is required to register
      </div>
    </div>
    <div>
      <label class="label-left one-third" for="password">*Password</label>
      <input
        class="two-thirds"
        type="password"
        name="password"
        required
        minlength="8"
        [(ngModel)]="user.password"
        #password="ngModel"
      >
    </div>
    <div class="warning" *ngIf="password.touched && password.invalid">
      <div *ngIf="password.errors.required">
        Password is required to register
      </div>
      <div *ngIf="password.errors.minlength">
        Password must be at least {{password.errors.minlength.requiredLength}} characters long
      </div>
    </div>
    <div>
      <label class="label-left one-third" for="passwordConfirm">*Confirm Password</label>
      <input
        class="two-thirds"
        type="password"
        name="passwordConfirm"
        required
        [pattern]="password.value"
        [(ngModel)]="user.passwordConfirm"
        #passwordConfirm="ngModel"
      >
    </div>
    <div class="warning" *ngIf="passwordConfirm.touched && passwordConfirm.invalid">
      <div *ngIf="passwordConfirm.errors.required">
        Password Confirmation is required to register
      </div>
      <div *ngIf="passwordConfirm.errors.pattern">
        Password Confirmation must match password
      </div>
    </div>
    <button class="btn-register" [disabled]="form.invalid">Register</button>
  </form>
</fieldset>
