<fieldset class="borderless">
  <form (submit)="onSubmit()" #form="ngForm">
    <div>
      <label class="label-left one-third" for="email">*Email</label>
      <input
        class="two-thirds"
        type="text"
        name="email"
        required
        [(ngModel)]="user.email"
      >
    </div>
    <div>
      <label class="label-left one-third" for="password">*Password</label>
      <input
        class="two-thirds"
        type="password"
        name="password"
        required
        [(ngModel)]="user.password"
      >
    </div>
    <div class="warning" *ngIf="errors">
      {{ errors }}
    </div>
    <button class="btn-login" [disabled]="form.invalid">Login</button>
  </form>
</fieldset>
