<section>
  <app-navigation></app-navigation>
  <app-bicycle-list
    [bicycles]="bicycles"
    [currentUser]="currentUser"
    (contactUser)="contactUser($event)"
    (deleteBicycle)="deleteBicycle($event)"
  ></app-bicycle-list>
  <div
    class="modal"
    [ngStyle]="{'display': modalDisplay}"
    (click)="closeModal($event)"
  >
    <div class="modal-content" (click)="modalClick($event)">
      <span class="close-modal" (click)="closeModal($event)">&times;</span>
      <p>{{ modalMessage1 }}</p>
      <p>{{ modalMessage2 }}</p>
    </div>
  </div>
</section>
